:root {
  --smoke: 236, 236, 236;
  --secondary: #0099a8;
  --radius: 12px;
  --font-roboto: 'Roboto', sans-serif;
  --font-rubik: 'Rubik', sans-serif;
  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}
